@font-face {
	font-family: Foco;
	src:url(".../fonts/Foco/focolight.ttf");
}

@font-face {
	font-family: ClarendonLight;
	src:url(".../fonts/Clarendon/clarendonbtlight.ttf");
	/*http://www.font-face.com/#green_content*/
}

@font-face {
	font-family: ClarendonHeavy;
	src:url(".../fonts/Clarendon/clarendonbtheavy.ttf");
	/*http://www.font-face.com/#green_content*/
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	font-family: Foco, comicsans;
	font-size: 16px; /*1em = 16px*/
	color: #414042;
}
header{

}

nav {
	color: #FFFFFF;
	font-family: ClarendonHeavy, comicsans;
	letter-spacing: .5px;
}
p{
	text-align: center;
	padding:10px;
}	

h1 {
	color: #FFFFFF;
	font-family: ClarendonLight, comicsans;
	font-size: 1.75em;
	text-align: center;
}

h2 {
	color: #FFFFFF;
	background-color: #13ACB8;
	font-family: ClarendonLight, comicsans;
	font-size: 1.75em;
	letter-spacing: .5px;
}

h3 {
	font-size: 1.5em;
}
 
h4{
	font-size: 1.25em;
	text-transform: uppercase;
}

nav a {
	text-decoration: none;
	color: #13ACB8;
	/*background-color: #0079FF;*/
	font-family: ClarendonLight, comicsans;
}

ul {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
	color: #414042;
}

hr{
	border:none;
	height:1px;
	background-color: #13ACB8;
	width: 65em;
	margin: 1em auto;
}
#intro {
	background-image: url("../images/loftbuilding.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	letter-spacing: .5px;
}
#capabilities {
	text-align: center;
}

#work {
	background-image: url("../images/thework_wall.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	/*color: #0079FF;*/
	height: 650px;
}

#process {
	background-image: url("../images/fordtruck.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height: 375px;
	text-align: center;
}

#contact {
	background-image: url("../images/eaglemural.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height: 600px;
}

footer{
	
	
}
