@import url(".../fonts/Foco");
@import url(".../fonts/Clarendon");

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header{

}

nav {
	color: #FFFFFF;
	font-family: Clarendon, serif;
	font-size: 1em;
	letter-spacing: .5px;
}

body {
	font-family: 'Foco Light', sans-serif;
	font-size: 16px; /*1em = 16px*/
	color: #414042;
}

p	{
	color: #414042;
	text-align: center;
	padding:10px;
}	

h1 {
	color: #FFFFFF;
	font-family: 'Clarendon Light', serif;
	font-size: 1.75em;
	text-align: center;
	width: 10em
}

h2 {
	color: #FFFFFF;
	background-color: #13ACB8;
	font-family: 'Clarendon Light', serif;
	font-size: 1.75em;
	letter-spacing: .5px;
}

h3 {
	color: #414042;
	font-family: 'Foco Light', sans-serif;
	font-size: 1.5em;
}
 
h4{
	color: #414042;
	font-family: 'Foco Light', sans-serif;
	font-size: 1.25em;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #0079FF;
	font-family: 'Clarendon Light', serif;
}

ul {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
	color: #414042;
}

hr{
	border:none;
	height:.75px;
	background-color: #13ACB8;
	width: 65em;
	margin: 1em auto;
}

#intro {
	background-image: url("../images/loftbuilding.jpg");
	/*background-size: cover;*/
	background-repeat: no-repeat;
	height: 650px;
	letter-spacing: .5px;
}

#capabilities {
	text-align: center;
}

#work {
	background-image: url("../images/thework_wall.jpg");
	background-repeat: no-repeat;
	height: 650px;
}

#process {
	background-image: url("../images/fordtruck.jpg");
	background-repeat: no-repeat;
	height: 375px;
	text-align: center;
}

#contact {
	background-image: url("../images/eaglemural.jpg");
	background-repeat: no-repeat;
	height: 600px;
}

footer{
	
	
}
