/*@font-face {
	font-family: Foco;
	src:url("../fonts/Foco/focolight.ttf");
}

@font-face {
	font-family: ClarendonLight;
	src:url("../fonts/Clarendon/clarendonbtlight.ttf");
	http://www.font-face.com/#green_content
}

@font-face {
	font-family: ClarendonHeavy;
	src:url("../fonts/Clarendon/clarendonbtheavy.ttf");
	http://www.font-face.com/#green_content
}*/
@import url('https://fonts.googleapis.com/css?family=Bitter:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: 'Roboto', "sans serif";
	font-size: 16px; 1em = 16px
	color: #414042;
}

header {
	width: 100%;
	height: 100vh;
	background-image: url("../images/loftbuilding.jpg");
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	max-width: 1800px;
	margin: 0 auto;
}
.inner {
	margin: 0 auto;
	float: left;
	margin-top: 1.5em;
	width: 100%;
}

.group {
	background-image: url("../images/introshape.png");
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 48%;
	text-align: center;
	top: 18em;
	height: 47em;

}

nav {
/*	position: fixed;
	width:100vw; comments: position and width to make sticky nav;*/
	float: left;
	margin-left: 47em;
/*	margin-top: 2em;*/
	color: #13ACB8;
}

nav a {
	font-family: 'Bitter', serif;
	text-decoration: none;
	color: #13ACB8;
	font-size: 1.15em;
	padding-left: 1.25em;
	padding-right: .5em;
}

nav a:hover{
	color: #414042;
	transition: color ease-in-out .5s;
}

.mainlogo {
	float: left;
	width: 12em;
	margin-left: 1.75em;
}

.mainmark {
	float: right;
	width: 3em;
	margin-right: 1.75em;
}

.introshape {
	float: left;
	text-align: center;
	width: 50%;
/*	margin: auto;*/
}

.getstarted {
	font-family: 'Bitter', serif;
	padding-left: .25em;
	color: #414042;
}

.getstarted:hover{
	color: #FFFFFF;
}

h1 {
	display: inline-block;
	width: 28%;
	margin-top: 6.15em;
	line-height: 1.8em;
	color: #414042;
	font-family: 'Bitter', serif;
	font-size: 1.7em;
	text-align: center;
}

h2 {
	color: #FFFFFF;
	background-color: #13BAB8;
	font-family: 'Bitter', serif;
	font-size: 1.6em;
	padding-top: .75em;
  	padding-bottom: .25em;
  	text-align: center;
}

h3 {
	
	color: #414042;
	font-size: 1.75em;
	padding-bottom: 1em;
	padding-top: 1.75em;
	text-align: center;
}
 
h4{
	color: #414042;
	font-size: 1em;
	text-transform: uppercase;
	padding-bottom: 3em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

ul{
  	list-style-type: none;
  	text-align: center;
  	margin: auto;
  	margin-left: 20em;
  	margin-right: 20em;
  	margin-bottom: 5em;
    padding-bottom: 2em;
  	border-top: solid #13BAB8 .01em;
  	border-bottom: solid #13BAB8 .01em;
}

li {
	color: #414042;
	width: 25%;
	float: left;
	margin-top: 2em;
}

img {
	max-width: 100%;
}

.capabilities {
	text-align: center;
}

.capabilities p {
	margin-top: 5em;
	margin-bottom: 2em;
	font-family: 'Roboto', "sans serif";
}

.thework-wrapper{
	width:90%;
	margin:auto;
}

.thework-projects img {
	width:22%;
}


.thework-projects {
	padding:1%;
	margin:1%;
	float:left;
	padding-top: 6em;
    padding-bottom: 6em;
    width: 100%;
}	

.thework-projects a{
	padding-left: 2%;

}

.column-one {
	width:50%;
	float: left;
	text-align: left;
	padding: 3em 3em;
	margin-top: 8.25em;
	line-height: 1.75em;
}

.column-one p{
	border-top: solid #13ACB8 .01em;
    border-bottom: solid #13ACB8 .01em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 4em;
    padding-left: 4em;
}
.column-two {
		float: left;
		width:50%;
		height: 580px;
		overflow: hidden;
}		


.contact {
	background-image: url("../images/eagle.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 624px;
	text-align: left;
	color: #FFFFFF;
}

.clientheadline {
	color: #FFFFFF;
	font-family: 'Bitter', serif;
	font-size: 1.85em;
	padding-top: 5em;
	padding-left: 1.5em;
}

.CTA {
	font-family: 'Roboto', "sans serif";
	font-size: 1.25em; /*1em = 16px*/
	color: #FFFFFF;
	text-align: left;
	padding-left: 2.25em;
	line-height: 1.6em;
	margin-top: 1.75em;
}

.email{
	font-family: 'Roboto', "sans serif";
	font-size: 1em; /*1em = 16px*/
	color: #FFFFFF;
	text-align: left;
	line-height: 1.6em;
	border-top: solid #FFFFFF .01em;
	border-bottom: solid #FFFFFF .01em;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 15%;
	margin-left: 3em;
	margin-top: 2em;
}

.footer-three-columns {

}

.footer-column-one {
	margin-top: 7.85em;
	padding-left: 1em;
	width: 3%;
	float: left;
}

.footer-column-one img {
	width: 1.75em;
}

.Instagram-copy {
	float:left;
	margin-top: 8.5em;
	width: 26%;
}
.Instagram-copy a{
	color: #414042;

}

.footer-column-two {
	text-align: center;
	width: 42%;
	float: left;
	margin: 0 auto;
}

.footer-column-two img {
	width: 2.5em;
	padding-top: 3em;
	padding-bottom: .5em;
}

.footer-column-three {
	text-align: right;
	width: 25%;
	float: right;
	margin-top: 8.5em;
}

.color-bar {
	height: 30px;
	width: 100%;
	background-color:#13BAB8;
	margin-top: .5em;
}

.footer-column-three p{
/*	padding-bottom: .5em;*/
	padding-right: 1em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (min-width: 1800px) {
	#wrapper {
		width: 1800px;
	}
}

@media only screen and (max-width: 1753px) {
	header {
		height: 97vh;
	}

	.group {
		background-size: 55%;
		top:16em;
	}

	nav {
		margin-left: 45em;
	}

	h1 {
		width: 32%;
		margin-top: 6em;
	}

	.column-one {
		margin-top: 8em;
	}

	.column-two {
		height: 560px;
	}
}	

@media only screen and (max-width: 1697px) {
	header {
		height: 93vh;
	}

	.group {
		background-size: 57%;
		top:15em;
	}

	nav {
	margin-left: 42em;
	}

	h1 {
		width: 32%;
		margin-top: 6em;
	}

	.group {
		background-size: 55%;
	}

	.column-one {
		margin-top: 5em;
	}

	.column-two {
		height: 494px;
	}
}

@media only screen and (max-width: 1644px) {
	header {
		height: 90vh;
	}

	.group {
		background-size: 60%;
		top:14em;
	}

	nav {
		margin-left: 39em;
	}

	h1 {
		width: 34%;
		margin-top: 6em;
	}

	.column-one {
		margin-top: 5em;
	}

	.column-two {
		height: 494px;
	}
	.footer-column-one {
		width: 3.5%;
	}
}

@media only screen and (max-width: 1572px) {
	header {
		height: 87vh;
	}

	.group {
		background-size: 57%;
		top:10em;
	}

	nav {
		margin-left: 37em;
	}

	h1 {
		width: 34%;
		margin-top: 6em;
	}

	ul{
 		margin-left: 15em;
  		margin-right: 15em;
  	}

	.theworkheadline {
		margin-left: 7em;
		margin-right: 7em;
	}

	.column-one {
		margin-top: 4em;
	}

	.column-two {
		height: 483px;
	}
	.footer-column-one {
		width: 3.75%;
	}
}

@media only screen and (max-width: 1455px) {
	header {
		height: 85vh;
	}

	.group {
		background-size: 60%;
		top:8em;
	}

	nav {
		margin-left: 28em;
	}

	h1 {
		width: 38%;
		margin-top: 6em;
	}

	ul{
 		margin-left: 7em;
  		margin-right: 7em;
  	}

	.thework-column-one{
		height: 750px;
	}

	.column-one {
		margin-top: 1.85em;
	}

	.column-two {
		height: 438px;
	}
}

@media only screen and (max-width: 1408px) {
	header {
		height: 75vh;
	}

	.group {
		background-size: 55%;
		top:5em;
	}

	nav {
		margin-left: 27em;
	}

	h1 {
		width: 39%;
		margin-top: 6em;
	}

	.thework-projects img {
		width: 47%;
		padding-bottom: 2em;
	}

	.thework-projects {
		padding: 1%;
		margin: 1%;
		float: left;
		padding-top: 4em;
	    padding-bottom: 6em;
	    width: 100%;
	}

	.column-one {
		width:100%;
		padding: 5em 7em;
		margin-top: .3em;
	}

	.column-one p{
    	padding-right: 6.25em;
    	padding-left: 6.25em;
	}

	.column-two {
		display: none;
		float: none;
	}

}

@media only screen and (max-width: 1346px) {
	header {
		height: 65vh;
	}

	.group {
		background-size: 58%;
		top:4em;
	}

	nav {
		margin-left: 26em;
	}

	h1 {
		width: 39%;
		margin-top: 6em;
		font-size: 1.65em;
	}	

	.footer-column-one {
		width: 5%;
	}
}

@media only screen and (max-width: 1300px) {
	header {
		height: 60vh;
	}

	.group {
		background-size: 58%;
		top:4em;
	}

	nav {
		margin-left: 21em;
	}

	h1 {
		width: 37%;
		margin-top: 7.5em;
		font-size: 1.5em;
	}

	.column-one {
		width:100%;
		padding: 5em 13em;
		margin-top: .3em;
	}

	.email{
		width: 21%;
	}
}


@media only screen and (max-width: 1213px) {
	header {
		height: 57vh;
	}

	.group {
		background-size: 56%;
		top: 2em;
	}

	nav {
		margin-left: 19em;
		position: relative;
   		z-index: 10;
	}

	h1 {
		width: 37%;
		margin-top: 7.5em;
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	nav a {
		font-size: 1em;
	}

}

@media only screen and (max-width: 1172px) {
	.group {
		background-size: 58%;
		top: 1em;
	}

	h1 {
		width: 39%;
		margin-top: 7.5em;
		font-size: 1.5em;
	}

	.column-one {
		width:100%;
		padding: 5em 7em;
		margin-top: .3em;
	}
}

@media only screen and (max-width: 1157px) {
	nav {
		margin-left: 19em;
	}

	ul{
 		margin-left: 3em;
  		margin-right: 3em;
  	}
 }

@media only screen and (max-width: 1131px) {
	header {
		height: 55vh;
	}

	nav {
		margin-left: 19.5em;
	}

	.group {
		background-size: 59%;
		top: .5em;
	}

	h1 {
		width: 39%;
		margin-top: 8.75em;
		font-size: 1.45em;
	}

	.mainmark {
		display:none;
	}
}


@media only screen and (max-width: 1094px) {
	header {
		height: 53vh;
	}

	nav {
		margin-left: 17.75em;
	}

	.group {
		background-size: 60%;
		top: .15em;
	}

	h1 {
		width: 39%;
		margin-top: 8.75em;
		font-size: 1.45em;
	}

	.mainlogo {
		float: left;
		width: 10em;
		margin-left: 1.75em;
	}

  	.column-one {
		width:100%;
		padding: 4em 3em;
		margin-top: .3em;
	}

	.contact {
		width: 100%;
		height: 40vh;
		position: relative;
	}
}


@media only screen and (max-width: 1072px) {
	header {
		height: 51vh;
	}

	nav {
		margin-left: 17.5em;
	}

	.group {
		background-size: 63%;
		top: auto;
	}

	h1 {
		width: 42%;
		margin-top: 8.75em;
		font-size: 1.45em;
	}

}


@media only screen and (max-width: 1060px) {
	body{
		font-size: 15.5px;
	}

	header {
		height: 65vh;
		background-position: bottom;
	}

	.mainlogo {
		width: 11em;
		margin-left: 28em;
		float: none;
		display: block;
		margin: 0 auto;
	}

	nav {
		margin-left: 19em;
		margin-top: 8em;
		margin: 2em auto;
		float: none;
		text-align: center;
		position: relative;
   		z-index: 10;
	}

	nav a {
		display: block;
		padding-top: .25em;
		padding-bottom: .75em;
	}

	nav a:hover{
		color: #FFFFFF;
}

	.group {
		background-size: 63%;
		top: 7em;
	}

	h1 {
		width: 42%;
		margin-top: -.25em;
		font-size: 1.45em;
	}

	li {
		width: 50%;
	}

	ul{
 		margin-left: 15em;
  		margin-right: 15em;
  	}

	.thework-projects img {
		width: 70%;
		padding-bottom: 2em;
	}

	.thework-projects {
		padding: 1%;
		margin: auto;
		text-align:center;
		float: left;
		padding-top: 4em;
	    padding-bottom: 3em;
	}

  	.column-one {
		width:100%;
		padding: 5em 6em;
		margin-top: .3em;
	}
}


@media only screen and (max-width: 1000px) {
	body{
		font-size: 15.25px;
	}

	header {
		height: 55vh;
		background-position: bottom;
	}

	.group {
		background-size: 60%;
		top: 6em;
	}

	h1 {
		width: 42%;
		margin-top: -.25em;
		font-size: 1.35em;
	}

	li {
		width: 100%;
	}

	ul{
	  	list-style-type: none;
	  	text-align: center;
	  	margin: auto;
	  	margin-left: 15em;
	  	margin-right: 15em;
	  	margin-bottom: 5em;
	    padding-bottom: 2em;
	  	border-top: solid #13BAB8 .01em;
	  	border-bottom: solid #13BAB8 .01em;
	}

	.contact {
		width: 100%;
		height: 35vh;
		position: relative;
	}

	.clientheadline {
		color: #FFFFFF;
		font-family: 'Bitter', serif;
		font-size: 1.85em;
		padding-top: 4em;
		padding-left: 1.5em;
	}

	.footer-column-one {
		width: 6%;
	}

}

@media only screen and (max-width: 900px) {
	header {
		height: 50vh;
		background-position: bottom;
	}

	.group {
		background-size: 58%;
		top: 3em;
	}

	h1 {
		width: 40%;
		margin-top: 1.5em;
		font-size: 1.15em;
	}

	nav {
		margin-left: 19em;
		margin-top: 8em;
		margin: 2em auto;
		float: none;
		text-align: center;
	}

	nav a {
		display: block;
		padding-top: .25em;
		padding-bottom: .55em;
	}

	ul {
	  	list-style-type: none;
	  	text-align: center;
	  	margin: auto;
	  	margin-left: 13em;
	  	margin-right: 13em;
	  	margin-bottom: 5em;
	    padding-bottom: 2em;
	  	border-top: solid #13BAB8 .01em;
	  	border-bottom: solid #13BAB8 .01em;
	}

	.thework-projects img {
		width: 80%;
		padding-bottom: 2em;
	}
	.column-one {
		width:100%;
		padding: 5em;
		margin-top: .3em;
	}

	.Instagram-copy {
		display: none;

	}

	.footer-column-one {
		width: 31%;
		margin-top: 7em;
	}

	.footer-column-two {
		font-size: 14px;
	}

	.footer-column-three {
		margin-top: 7.55em;

	}

	.footer-column-three p{
		font-size: 14px;
	}

}

@media only screen and (max-width: 806px) {
	header {
		height: 58vh;
		background-position: bottom;
	}

	.group {
		background-size: 58%;
		top: 2.5em;
	}

	h1 {
		width: 35%;
		margin-top: 1.5em;
		
		font-size: 1.15em;
	}

	.email{
		width: 27%;
	}
}

@media only screen and (max-width: 768px) {
	.clientheadline {
		padding-top: 2.25em;
	}

}

@media only screen and (max-width: 737px) {
	header {
		height: 58vh;
		background-position: bottom;
	}

	.group {
		background-size: 68%;
		top: 2.5em;
	}

	h1 {
		width: 45%;
		margin-top: 1.5em;
		font-size: 1.15em;
	}

	ul {
		line-height: 1.5em;
	  	margin-left: 11em;
	  	margin-right: 11em;
	}

	.capabilities p{
		line-height: 1.5em;
	}

	 .column-one {
		width:100%;
		padding: 2em 2em;
		margin-top: .3em;
	}

	.clientheadline {
		font-size: 1.7em;
		padding-top: 3em;
		padding-left: 1.75em;
	}

	.CTA {
		font-size: 1em; /*1em = 16px*/
		padding-left: 3em;
	}

	.email{
		width: 27%;
	}

	.contact {
		width: 100%;
		height: 30vh;
		position: relative;
	}

@media only screen and (max-width: 620px) {
	header {
		height: 50vh;
		background-position: bottom;
	}

	.group {
		background-size: 80%;
		top: 2.5em;
	}

	h1 {
		width: 53%;
		margin-top: 1.5em;
		font-size: 1.15em;
	}

	.capabilities p{
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	ul {
		line-height: 1.5em;
	  	margin-left: 8em;
	  	margin-right: 8em;
	}
	.column-one {
		width: 100%;
		padding: 2em 1.5em;
		margin-top: .3em;
	}

	.column-one p{
    	padding-right: 3em;
    	padding-left: 3em;
	}

	.email{
		width: 31%;
	}

	.contact {
		width: 100%;
		height: 28vh;
		position: relative;
}

@media only screen and (max-width: 414px) {
	header {
		height: 100vh;
   		background-position-x: 24%;
	}

	.group {
		background-size: 105%;
		top: 2.25em;
	}

	h1 {
		width: 70%;
		margin-top: 1.8em;
		font-size: 1.05em;
	}

	.capabilities p{
		margin-top: 3em;
	}

	ul {
	  	margin-left: 4em;
	  	margin-right: 4em;
	}

	.column-one p{
    	padding-right: 1.25em;
    	padding-left: 1.25em;
	}

	.contact {
		width: 100%;
		height: 39vh;
		position: relative;
	}

	.clientheadline {
		font-size: 1.45em;
		padding-top: 2.25em;
	}

	.CTA {
		font-size: 1em; /*1em = 16px*/
		padding-left: 2.55em;
	}
	
	.email{
		width: 43%;
		margin-left: 2.55em;
		margin-top: 1.75em;
	}

	.footer-column-one {
		width: 29%;
		margin-top: 7em;
	}

	.footer-column-two {
		font-size: 14px;
	}
	.footer-column-two img {
		width: 2.25em;
		padding-top: 3.5em;
	}
	.footer-column-two p{
		font-size: 13px;
	}

	.footer-column-three {
		margin-top: 7.9em;

	}

	.footer-column-three p{
		font-size: 11px;
	}
}

@media only screen and (max-width: 375px) {
	header {
		height: 100vh;
   		background-position-x: 26%;
	}

	.group {
		background-size: 107%;
		top: 1.75em;
	}

	h1 {
		width: 74%;
		margin-top: 1.8em;
		font-size: 1.05em;
	}

	.contact {
		width: 100%;
		height: 41vh;
		position: relative;
	}

	.clientheadline {
		font-size: 1.25em;
		padding-top: 2.25em;
	}

	.CTA {
		font-size: .95em; /*1em = 16px*/
		padding-left: 2.2em;
		margin-top:1.55em;
	}
	
	.email{
		width: 45%;
		margin-left: 2.4em;
		margin-top: 1.75em;
		font-size: .95em;
}

@media only screen and (max-width: 320px) {
	body {
		font-size: 14.5px;
	}

	header {
		height: 102vh;
   		background-position-x: 24%;
	}

	.group {
		background-size: 105%;
		top: .75em;
	}

	h1 {
		width: 70%;
		margin-top: 1.75em;
		font-size: 1em;
		line-height: 1.7em;
	}

	h2 {
		font-size: 1.25em;
	}

	ul {
	  	margin-left: 3em;
	  	margin-right: 3em;
	  	margin-bottom: 4em;
	}

	.column-one {
		width: 100%;
		padding: 2em 1.75em;
		margin-top: .3em;
	}

	.contact {
		width: 100%;
		height: 43vh;
		position: relative;
	}

	.CTA {
		font-size: .9em; /*1em = 16px*/
		padding-left: 2.5em;
		margin-top:1.25em;
	}
	
	.email{
		width: 47%;
		margin-left: 2.5em;
		margin-top: 1.75em;
		font-size: .9em;
	}

	.footer-column-one {
		width: 29%;
		margin-top: 7.25em;
	}

	.footer-column-two p{
		font-size: 11.75px;
	}

	.footer-column-three {
		margin-top: 8.35em;

	}

	.footer-column-three p{
		font-size: 9px;

}



