@font-face {
	font-family: Foco;
	src:url("../fonts/Foco/focolight.ttf");
}

@font-face {
	font-family: ClarendonLight;
	src:url("../fonts/Clarendon/clarendonbtlight.ttf");
	/*http://www.font-face.com/#green_content*/
}

@font-face {
	font-family: ClarendonHeavy;
	src:url("../fonts/Clarendon/clarendonbtheavy.ttf");
	/*http://www.font-face.com/#green_content*/
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: Foco, "sans serif";
	font-size: 16px; 1em = 16px
	color: #414042;
}

header {
	width: 100%;
	height: 100vh;
	background-image: url("../images/loftbuilding.jpg");
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}
.inner {
/*	width: 100%;
	max-width: 1024px;*/
	margin: 0 auto;
	float: left;
	margin-top: 1.5em;
	width: 100vw;
}

.group {
	background-image: url("../images/introshape.png");
	position: relative;
/*	background-size: cover;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: 49%;
	text-align: center;
	top: 100px;
	height: 780px;
}

nav {
	float: left;
	margin-left: 32em;
	margin-right: 4.5em;
	color: #13ACB8;
}

nav a {
	font-family: ClarendonLight, serif;
	text-decoration: none;
	color: #13ACB8;
	font-size: 1.15em;
	padding-left: .5em;
	padding-right: .5em;
}

nav a:hover{
	color: #414042;
}

.mainlogo {
	float: left;
	width: 12em;
	margin-left: 1.75em;
}

.mainmark {
	float: left;
	width: 3em;
	margin-right: 1.75em;
}

.introshape {
	float: left;
	text-align: center;
	width: 50%;
/*	margin: auto;*/
}

.getstarted {
	font-family: ClarendonLight, serif;
	padding-left: .25em;
	color: #414042;
}

h1 {
	display: inline-block;
	width: 28%;
	margin-top: 7.5em;
	line-height: 1.55em;
	color: #414042;
	font-family: ClarendonLight, serif;
	font-size: 1.55em;
	text-align: center;
}

h2 {
	color: #FFFFFF;
	background-color: #13BAB8;
	font-family: ClarendonLight, serif;
	font-size: 1.85em;
	padding-top: 1.25em;
  	padding-bottom: .25em;
  	text-align: center;
}

h3 {
	
	color: #414042;
	font-size: 1.75em;
	padding-bottom: 1em;
	padding-top: 1.75em;
	text-align: center;
}
 
h4{
	color: #414042;
	font-size: 1em;
	text-transform: uppercase;
	padding-bottom: 3em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

ul{
  	list-style-type: none;
  	text-align: center;
  	margin: auto;
  	margin-left: 15em;
  	margin-right: 15em;
  	margin-bottom: 4em;
    padding-bottom: 2em;
  	border-top: solid #13BAB8 .01em;
  	border-bottom: solid #13BAB8 .01em;
}

li {
	color: #414042;
	width: 25%;
	float: left;
	margin-top: 2em;
}

img {
	max-width: 100%;
}

.capabilities {
	text-align: center;
}

.capabilities p {
	margin-top: 3em;
	margin-bottom: 2em;
}

.thework {

}

.thework-column-two img {
	width:100%;
}

.theworkheadline {
	font-family: ClarendonLight, serif;
	color: #0079BB;
	font-size: 1.85em;
	padding-bottom: 1.5em;
	padding-top: 9em;
	text-align: center;
	border-bottom: solid #0079BB .01em;
	margin-left: 9em;
	margin-right: 9em;
}

.thework-column-one{
	width: 50%;
	float: left;
	background: url("../images/wall.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	text-align: center;
	height: 900px;
}

.thework-column-two {
	float: left;
	width: 50%;
	height: 900px;
	overflow: hidden;
}

.projectbutton {
	text-decoration: none;
	font-family: Foco, "sans serif";
	color: #FFFFFF;
	background-color: #0079BB;
	font-size: .75em;
	text-transform: uppercase;
	padding: 1em;
	/*margin-left: 37em;*/
	text-align: center;
}

.worknav {
	font-family: ClarendonLight, serif;
	color: #414042;
	font-size: .8em;
	text-align: center;
	padding-top: 25em;
	margin-bottom: 1em;
}

.how-we-work {
/*	background: yellow;*/
}

.column-one {
		width:50%;
		float: left;
		text-align: left;
		padding: 3em 3em;
		margin-top: 7.75em;
		line-height: 1.75em;
		border-top: solid #13ACB8 .01em;
		border-bottom: solid #13ACB8 .01em;
}

.column-two {
		float: left;
		width:50%;
		height: 461px;
}


.contact {
	background-image: url("../images/eagle.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
	text-align: left;
	color: #FFFFFF;
}

.clientheadline {
	color: #FFFFFF;
	font-family: ClarendonLight, serif;
	font-size: 1.85em;
	padding-top: 2em;
	padding-left: 1.25em;
}

.CTA{
	font-family: Foco, "sans serif";
	font-size: 1.25em; /*1em = 16px*/
	color: #FFFFFF;
	text-align: left;
	padding-left: 2em;
	line-height: 1.6em;
	margin-top: 1.75em;
}

.email{
	font-family: Foco, "sans serif";
	font-size: 1em; /*1em = 16px*/
	color: #FFFFFF;
	text-align: left;
	line-height: 1.6em;
	border-top: solid #FFFFFF .01em;
	border-bottom: solid #FFFFFF .01em;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 15%;
	margin-left: 2.75em;
	margin-top: 2em;
}

.footer-three-columns {

}

.footer-column-one {
	margin-top: 7em;
	padding-left: 1em;
	width: 33.3333%;
	float: left;
}

.footer-column-one img {
	width: 2em;
}

.footer-column-two {
	text-align: center;
	width: 33.3333%;
	float: left;
	height
}

.footer-column-two img {
	width: 2.5em;
	padding-top: 3em;
	padding-bottom: .5em;
}

.footer-column-three {
	text-align: right;
	border-bottom: solid #13BAB8 2em;
	width: 100%;
	float: right;
}

.footer-column-three p{
	padding-bottom: .5em;
	padding-right: 1em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}