body {
		/*background: url("../images/loftbuilding.jpg");
		background-size: cover;
		background-repeat: no-repeat;*/
		color: lightgrey;
}

p	{
	color: lightgrey;
}	

h1 {
	color: lightgrey;
	text-align: center;
}

h2 {
	color: white;
	text-align: left;
	background-color: #13ACB8;

}

a {
	text-decoration: none;
	color: #13ACB8;
}

li {
	color: lightgrey;
}

ul {
    list-style-type: none;
}